{% extends "base.html" %}
{% block content %}

    {% load blog_tags %}

    <div class="site-section bg-light">
        <div class="container">
            {% show_contact_about %}
            <div class="row">

                <div class="col-lg-12">
                    <div class="section-title mb-5">
                        <h2>Contact Us</h2>
                    </div>

                        <div class="row">
                            {% if messages %}
                                {#                        <ul class="messages">#}
                                {% for message in messages %}
                                    <div{% if message.tags %}
                                        class="alert alert-success alert-dismissible fade show"
                                        role="alert"{% endif %}>
                                        {{ message }}
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                                {#                        </ul>#}
                            {% endif %}
                        </div>
                    <form method="post">
                        {%  csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="fname">Name</label>
                                {{ form.name.errors }}
                                {{ form.name }}
{#                                <input type="text" id="fname"#}
{#                                       class="form-control form-control-lg">#}
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="lname">Subject</label>
                                {{ form.phone.errors }}
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="eaddress">Email Address</label>
                                {{ form.email.errors }}
                                {{ form.email }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="tel">Tel. Number</label>
                                {{ form.phone.errors }}
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="message">Message</label>
                                {{ form.message.errors }}
                                {{ form.message }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <input type="submit" value="Send Message"
                                       class="btn btn-primary py-3 px-5">
                            </div>
                        </div>

                    </form>

                </div>

            </div>


        </div>
    </div>

{% endblock %}