

<div class="section-title">
              <h2>Popular posts</h2>
            </div>
            {% for post in most_popular_posts%}
            <div class="trend-entry d-flex">
              <div class="number align-self-start">0{{ forloop.counter }}</div>
              <div class="trend-contents">
                <h2><a href="{% url 'post_details' post.slug %}">{{ post.title}}</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="{% url 'author' post.user.slug %}">{{ post.user.full_name }}</a> in
                        {{ post.category_links | safe }}</span>
                  <span class="date-read">{{ post.published_at }}<span class="mx-1">&bullet;</span> {{ post.minutes_to_read }} min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            {% endfor %}